<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{{ 'Login'|trans }} - Control Station</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="{{ app.request.basePath }}/media/img/favicon.ico" />

    <!-- Le styles -->
    <link href="{{ app.request.basePath }}/media/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
      }

      .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin .checkbox {
        font-weight: normal;
      }
      .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
      }
      .form-signin .form-control:focus {
        z-index: 2;
      }
      .form-signin input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ app.request.basePath }}/media/img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ app.request.basePath }}/media/img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ app.request.basePath }}/media/img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ app.request.basePath }}/media/img/apple-touch-icon-57-precomposed.png">

  </head>

  <body>

    <div class="container">
      <form class="form-signin" action="{{ path('check_path') }}" method="post">
        <h2 class="form-signin-heading">{{ 'Login'|trans }}</h2>
        {% if error %}
          <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>{{ 'Alert'|trans }}</strong><br/><br/> {{ error|trans }}
          </div>
        {% endif %}
        <input type="text" class="form-control"  placeholder="{{ 'User'|trans }}" value="{{ last_username }}" name="_username" autofocus>
        <input type="password" class="form-control" placeholder="{{ 'Password'|trans }}" name="_password">
        <label class="checkbox">
          <input type="checkbox" name="_remember_me" value="remember-me"> {{ 'Remember'|trans }}
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'Send'|trans }}</button>
      </form>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ app.request.basePath }}/media/js/vendor/jquery.min.js"><\/script>')</script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <script src="{{ app.request.basePath }}/media/js/plugins.js"></script>
    <script src="{{ app.request.basePath }}/media/js/main.js"></script>

    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

  </body>
</html>
